body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Product-Sans-Bold, sans-serif;
    font-size: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    top: -1vh;
}

a {
    text-decoration: none;
}

.search-box {
    position: relative;
    display: block;
    margin: auto;
    bottom: 20px;
    top: -24px;
    background-color: rgb(255, 255, 255);
    border-color:rgb(212, 212, 212);
    border-style: solid;
    border-width: 1px;
    height: 45px;
    width: 600px;
    border-radius: 40px;
}

.mag-glass-icon {
    position: relative;
    display: block;
    margin-left: 12px;
    margin-top: 12px;
    padding: -20px;
    width: 22px;
    height: 22px;
}

.search-bar {
    position: relative;
    display: block;
    bottom: 25px;
    margin-left: 8.5%;
    width: 85%;
    height: 30px;
    border: none;
}

.no-outline:focus {
    outline: none;
}


.button-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-style {
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    border: none;
    background-color: rgb(250, 250, 250);
    color:rgb(75, 75, 75);
}

.btn-hover:hover {
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0 2px 1px rgb(221, 221, 221);
    padding: 9px;
    margin: 10px;
    color: black;
}

.links-app-bar {
    display: flex;
    padding-bottom: 0px;
    color: black;
}

.links-div {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 10px;
    top: 15px;
    left: 17px;
    font-family: arial, sans-serif;
    letter-spacing: -.5px;
    font-size: 14px;
}

.share-icon {
    display: block;
    position: relative;
    margin: auto;
    left: 160px;
    bottom: 100px;
    width: 30px;
    height: 30px;
    filter: invert(27%) sepia(100%) saturate(1227%) hue-rotate(197deg) brightness(117%) contrast(90%);
}

.about-store-links {
    display: block;
}

.woomail-images-links {
    display: block;
    padding-right: 25px;
}

.about-link, .store-link, .woomail-link, .images-link {
color: black;
}

.about-link:hover, .store-link:hover, .woomail-link:hover, .images-link:hover {
text-decoration: underline;
}

.about-link:visited, .store-link:visited, .woomail-link:visited, .images-link:visited {
color: black;
}

.ad-link:visited, .bus-link:visited, .how-link:visited, .pri-link:visited, .ter-link:visited, .set-link:visited {
color: gray;
}

.ad-link:hover, .bus-link:hover, .how-link:hover, .pri-link:hover, .ter-link:hover, .set-link:hover {
text-decoration: underline;
}

.app-dots {
    display: block;
    margin: auto;
    padding-top: 6.5px;
    width: 25px;
    height: 25px;
    fill: gray;
}

.app-dots-div {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 5px;
}

.app-dots-div:hover {
    display: block;
    background-color: rgb(241, 241, 241);
}

.sign-in-btn {
    white-space: nowrap;
    padding: 8px 15px 10px 15px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: #1a73e8;
    color: white;
    border-radius: 5px;
    border: none;
}

.sign-in-btn:hover {
    background-color: #247aeb;
    box-shadow: 0 2px 1px rgb(221, 221, 221);
}

.bottom-links-div {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    bottom: 0;
    margin: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background-color: rgb(240, 240, 240);
}

.first-links-bottom {
    justify-self: start;
    align-self: center;
    margin-left: 30px;
}

.second-links-bottom {
    justify-self: end;
    align-self: center;
    margin-right: 20px;
}

.ad-link, .bus-link, .how-link, .pri-link, .ter-link, .set-link {
    color: gray;
}

@media (max-width: 600px) {
    .search-box {
        width: 96%;
    }
    .app-dots-div {
        width: 50px;
    }
    .links-div {
        width: 72%;
    }
    .bottom-links-div {
        flex-direction: column;
        height: auto;
    }
    .first-links-bottom {
        padding: 20px;
        margin: auto;
    }
    .second-links-bottom {
        padding: 20px;
        margin: auto;
    }
}

@media (max-width: 1000px) {
    .links-div {
        width: 84%;
    }
}