@font-face {
    font-family: Product-Sans-Regular;
    src: url('Product Sans Regular.ttf');
}
@font-face {
    font-family: Product-Sans-Bold;
    src: url('Product Sans Bold.ttf');
}


.about-link:hover {
    text-decoration: underline;
}

.store-link:hover {
    text-decoration: underline;
}

.woomail-link:hover {
    text-decoration: underline;
}

.images-link:hover {
    text-decoration: underline;
}

.about-link:visited {
    color: black;
}

.store-link:visited {
    color: black;    
}

.woomail-link:visited {
    color: black;
}

.images-link:visited {
    color: black;
}

.ad-link:visited {
    color: gray;
}

.bus-link:visited {
    color: gray;
}

.how-link:visited {
    color: gray;
}

.pri-link:visited {
    color: gray;
}

.ter-link:visited {
    color: gray;
}

.set-link:visited {
    color: gray;
}